# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
pnpm-lock.yaml
.gitignore
pnpm-lock.yaml
.gitignore
src/api/user/index copy mock.ts
src/api/user/type copy mock.ts
pnpm-lock.yaml
.gitignore
